.btn-new-book {
    align-items: center;
}
.table {
    overflow: auto;
    display: block;
    table-layout: auto;
}
.btn-page {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.btn-page li {
    cursor: pointer;
    text-align: center;

    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.btn-page li p {
    margin-top: 7px;

    color: rgb(0, 0, 0);
}
